.card{
  border: 1px solid black;
  height: 367px;
  width: 252px;

  font-family: 'Quicksand', sans-serif;
  font-size: 18px;
  margin: 10px;
  background-color: #c5fad9;
  border-radius: 25px;
}

.piggyName {
  font-size: 25px;
  font-family: 'Baloo Bhai', cursive;
}
 .hideButton{
   cursor: pointer;
   box-shadow: 2px 2px grey;
   background: #ff5959;
   color: white;
   border-radius: 5px;
   display: inline-block;
   border: none;
   margin: 10px;
 }
.content {
  background-color: #c5fad9;
  border-radius: 25px;
  margin-top: 10px;
}
.image {
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}
.maincards {
  font-size: 30px;
  background-color: #c5fad9;
  border-radius: 25px;
}
